<?xml version='1.0' encoding='utf-8'?>
<widget id="org.invenio-software.mobile" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Invenio Mobile</name>
    <description>
        A mobile app for the Invenio document repository suite.
    </description>
    <author email="info@invenio-software.com" href="http://invenio-software.org/">
        Invenio Development Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <feature name="Notification">
        <param name="id" value="org.apache.cordova.dialogs" />
    </feature>
    <feature name="File">
        <param name="id" value="org.apache.cordova.file" />
    </feature>
    <feature name="File Transfer">
        <param name="id" value="org.apache.cordova.file-transfer" />
    </feature>
    <feature name="InAppBrowser">
        <param name="id" value="org.apache.cordova.inappbrowser" />
    </feature>
    <feature name="Network Information">
        <param name="id" value="org.apache.cordova.network-information" />
    </feature>

	<platform name="android">
		<icon src="res/icon/android/ldpi.png" density="ldpi" />
		<icon src="res/icon/android/mdpi.png" density="mdpi" />
		<icon src="res/icon/android/hdpi.png" density="hdpi" />
		<icon src="res/icon/android/xhdpi.png" density="xhdpi" />
	</platform>

	<platform name="ios">
		<!-- TODO: icons for iOS 7.0+, and Spotlight
			 (see https://cordova.apache.org/docs/en/3.5.0/config_ref_images.md.html) -->
		<!-- iOS 6.1 -->
		<!-- iPhone / iPod Touch -->
		<icon src="res/icon/ios/icon.png" width="57" height="57" />
		<icon src="res/icon/ios/icon@2x.png" width="114" height="114" />
		<!-- iPad -->
		<icon src="res/icon/ios/icon-72.png" width="72" height="72" />
		<icon src="res/icon/ios/icon-72@2x.png" width="144" height="144" />
	</platform>
</widget>
