<link rel="stylesheet" type="text/css" href="cssbin/record.css" />

<div class="topBar">
	<span class="topBar_title"></span>

	<div class="topBar_actions">
		<a id="downloadButton" class="topBar_action hidden" title="Download">
			<span class="glyphicon glyphicon-floppy-disk"></span>
		</a>
	</div>
</div>

<script id="recordTemplate" type="text/x-jinja2-template">
	{% if files %}
	<div class="record_filesButton btn-group">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
			<span class="glyphicon glyphicon-file"></span>
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu dropdown-menu-right" role="menu">
		{% for file in files %}
			<li {% if file._availableOffline === false %}class="disabled"{% endif %}>
				<a class="record_file" href="javascript:;" data-file-path="{{file.path}}" data-file-type="{{file.type}}">
					{{file.name}}
				</a>
			</li>
		{% endfor %}
		</ul>
	</div>
	{% endif %}
	<h3 class="record_title">{{title}}</h3>
	<ul class="record_authors">
	{% for author in authors %}
		<li>
			<a href="#/results?query=author:'{{author.name}}'">{{author.name}}</a>
			{% if author.inst %}<span class="record_institute">{{author.inst}}</span>{% endif %}
		</li>
	{% endfor %}
	</ul>

	<span class="record_journal">{{journal}}</span>,
	<span class="record_date">{{date | formatDate}}</span>

	<ul class="record_reportNumbers">
	{% for reportNumber in reportNumbers %}
		<li>{{reportNumber}}</li>
	{% endfor %}
	</ul>

	<div class="fieldLabel">Abstract</div>
	<p class="record_abstract">{{abstract}}</p>

	<div class="fieldLabel">Keywords</div>
	<ul class="record_keywords pillsContainer">
	{% for keyword in keywords %}
		<li class="pill"><a href="#/results?query=keyword:'{{keyword}}'">{{keyword}}</a></li>
	{% endfor %}
	</ul>
</script>
<div class="contentBelowTopBar">
	<div class="spinner">
		Loading...
	</div>
</div>

<script src="jsbin/record.js"></script>
